{% load humanize %} 

{% ifnotequal semester_details.count 0 %}
<table cellpadding="20">
    <tr>
        <th>Semester</th>
        <th>Instructors</th>
    </tr>
    {% for s in semester_details %}
    <tr>
        <td class="{% cycle 'row1' 'row2' as rowcolors %}"><a href="{% url admin:course_semesterdetails_change s.id %}">{{ s.term }} {{ s.year}}</a></td>
        <td class="{{ rowcolors }}">{% for t in s.instructors.all %}
                {{ t }}<br />
            {% endfor %}</td>
    </tr>
    {% endfor %}
</table>
{% endifnotequal %}